# Mpesa Fraud-Detection

## 1. Business Understanding

### 1.1 Problem Statement

### 1.2 Proposed Solutions

### 1.3 Objectives

#### 1.3.1 Main Objective

#### 1.3.2 Specific Objectives

### 1.4 Metrics of Success

### 1.5 StakeHolders

### 1.6 Constraints

## 2.  Data Understanding

In [1]:
# Import necessary Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# A function to load the data
class LoadData():
    def load_data(self,df):
        self.df= pd.read_csv(df)
        return self.df
    
data = LoadData()
data_path = "Fraud-Data.csv"
df = data.load_data(data_path)
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [4]:
class DataUndersatnding():
  
    def load_data(self, path):
        self.df= pd.read_csv(path)
        return self.df
    
    def data_understanding(self, df):
        """Provides the understanding of the dataset"""
        # Dataset Info
        print("INFO")
        print("-"*4)
        self.df.info()

        # Shape of the dataset
        print("\n\nSHAPE")
        print("-" * 4)
        self.df.shape
        print(f"Records in the dataset:{self.df.shape[0]}, and columns in the dataset:{self.df.shape[1]}")

        # Columns in the Dataset
        print("COLUMNS")
        print("-" * 4)
        self.df.columns
        print(f"Number of columns in the dataset{len(self.df.shape)}")

        
        #Unique values in the dataset
        print("\n\nUNIQUE VALUES")
        print("-" * 12)
        for col in self.df.columns:
            print(f"Column {col} has {self.df[col].nunique()} unique values")
            if self.df[col].nunique() < 12:
                print(f"Top unique values in {col} include:")
                for idx in self.df[col].value_counts().index:
                    print(f"- {idx}")
            print("")
        # Missing values in the Dataset
        print("\nMISSING")
        print("-" * 10)
        self.df.isna().sum()

        #Duplicate Values in the dataset
        print("\nDuplicate values in the Dataset")
        print("- "* 4)
        print(f"The dataset has {self.df.duplicated().sum()} duplicated records.")
# Initialize the Data Understanding Class

data = DataUndersatnding()
path ="Fraud-Data.csv"
df = data.load_data(path)
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

## 3. Data Preparation

### 3.1 Data Cleaning

### 3.2 Explanatory Data Analysis

## 4. Modelling

## 5. Conclusion

## 6. Recommendations

## 7. Next Steps